:core:
  # The host field of metrics and events, if omitted.
  :tags:
    - "ffwd"
  # Set a memory limit (only works on Linux) after which the system will
  # sacrifice itself to prevent damaging other services.
  :memory:
    # Limit to 64M
    :limit: 64